{% extends "base_actions.html" %}

{% block content %}
<div class="page-header">
  <h1>Delete Records</h1>
</div>

  <p>Are you sure you want to delete the following record{{ objs.count|pluralize }} completely from the {{ context }}, including all related metadata and media files?</p>
  <ul>
    {% for obj in objs %}
      <li><a href="{% url 'record' obj.pk %}">{{ obj.title }}</a></li>
    {% endfor %}
  </ul>

  <hr />

  <form action="." method="post">
    {% csrf_token %}
    {{ form }}
    <input type='submit' value='Delete records' id="id_delete" class="btn btn-danger">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">Cancel</a>
  </form>




{% endblock %}
