{% extends "base_actions.html" %}

{% block content %}
<div class="page-header">
  <h1>Delete Record</h1>
  </div>

  <h2>{{ object }}</h2>

  {% if object.digobjectcontext_set.count == 1 %}
    <p>This record will be deleted completely from the system including all related files.</p>
  {% else %}
    <p>This record will be deleted from the {{ context }}.  It is currently a part of the following:</p>
    <ul>
      {% for c in object.digobjectcontext_set.all %}
        <li>{{ c.context }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <p>Are you sure you want to delete "{{ object }}"?</p>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" id="id_delete" value="Delete record" />
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">Cancel</a>
  </form>
{% endblock %}
