{% extends "base_actions.html" %}

{% block content %}
<div class="page-header">
  <h1>Deleted</h1>
</div>
  {% if goners %}
    <p>
      <strong>
	The following record{{ goners.count|pluralize }} {% if goners.count > 1 %}have{% else %}has{% endif %}
	been marked for deletion and will be deleted completely from the system including all related metadata and media files.
      </strong>
    </p>
    <ul>
      {% for obj in goners %}
        <li>{{ obj.title }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if survivors %}
    <p><strong>The following record{{ survivors.count|pluralize }}  {% if survivors.count > 1 %}have{% else %}has{% endif %}
	been removed from {{ context }}.</strong></p>
    <ul>
      {% for obj in survivors %}
        <li>{{ obj.title }}</li>
	<ul>
	  {% for c in obj.digobjectcontext_set.all %}
	    <li>{{ c.context.name }}</li>
	  {% endfor %}
	</ul>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
