{% extends "base_actions.html" %}
{% block content %}

<div class="page-header">
    <h1>Update Object Record</h1>
</div>

{% if thumb %}<img src="{{ thumb }}" class="pull-right img-thumbnail">{% endif %}

<h2>{{ object.title }}</h2>

<dl class="dl-horizontal">
  <dt>Type</dt>
  <dd>{{ object.digobject_form }}</dd>
  <dt>Status</dt>
  <dd>{{ status }}</dd>
</dl>

<form role="form" action="{% url 'update_record' object.pk %}" method="post">
  {% csrf_token %}
  {{ form.management_form }}
  {% for f in form %}
    {% if f.non_field_errors %}
      <div class="alert alert-info" role="alert">
        {{ f.non_field_errors }}
      </div>
    {% endif %}
    <div class="form-group">
      {% if f.upload.errors %}
        <div class="alert alert-info" role="alert">
          {{ f.upload.errors }}
        </div>
      {% endif %}
      <label for="id_{{ f.upload.html_name }}">{{ f.file_obj.filename_original }}:</label>
      {{ f.upload }}
    </div>
  {% endfor %}
  <button id="update_files_submit" class="btn btn-sm btn-primary" type="submit">Update</button>
  <a id="update_files_cancel" class="btn btn-sm btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
</form>
{% endblock content %}
