{% extends "base_admin.html" %}
{% load widget_tweaks %}

{% block content %}

  <h2>Change Password</h2>
  <form action="" method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-info" role="alert">
            {{ form.non_field_errors }}
        </div>
      {% endif %}

      {% for field in form %}
        <div class="form-group">
            {% if field.errors %}
            <div class="alert alert-info" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="id_{{ field.html_name }}">{{ field.label }}:</label>
                {% render_field field class+='form-control' %}
            </div>
        </div>
      {% endfor %}

      <input type="submit" class="btn btn-primary">
  </form>

{% endblock %}
