{% extends "base_actions.html" %}

{% block content %}
    {% block page_header %}
    <!-- Page Header -->
    <div class="page-header">
        <h1>{% if title %}{{ title }}{% else %}Help{% endif %}</h1>
    </div>
    <p>{{ subtitle }}</p>
    {% endblock page_header %}

    <p>Resources to use Hopper more effectively.</p>

    <ul>
        <li><a href="http://metadatahopper.bitbucket.org/">User Guide</a></li>
        <li><a href="#">Glossary</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Demo Videos</a></li>
        <li><a href="http://metadatahopper.bitbucket.org/error-logs/">Working With Log Files</a></li>
        <li><a href="{% url 'help_form' %}">Contact Us</a></li>
    </ul>

{% endblock content %}

{% block sidebar_context %}
{% endblock sidebar_context %}
