{% extends "base_actions.html" %}
{% load build_params %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}

<div class="page-header">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
</div>


<p>You will receive an email when indexing is complete.</p>
{% if context.preview_url %}
  <p><a href="{{ context.preview_url }}">Go to preview site</a></p>
{% endif %}
<hr/>

{% if preview_objs %}
<h3>The following records will be previewed:</h3>
<ul>
    {% for obj in preview_objs %}
        <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if reindex_objs %}
<h3>The following records have already been previewed or published they will be reindexed:</h3>
<ul>
    {% for obj in reindex_objs %}
        <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if neither_objs %}
<h3>The following records have been deleted or retracted and cannot be previewed:</h3>
<ul>
    {% for obj in neither_objs %}
        <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<p><a href="{% url 'preview' %}">Back to Preview</a></p>

{% endblock content %}
