{% extends "base_actions.html" %}
{% load build_params %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}
  <div class="page-header">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </div>

  <p>All modified records from your institution will be reindexed. If an object has only been previewed, then reindexing will only impact the preview site; it will not also publish the object. If you have modified then reindexed an already published object, the object will be updated in both the preview and public sites. You will receive an email when indexing is complete.</p>
  {% if context.preview_url %}
    <p><a href="{{ context.preview_url }}">Go to preview site</a></p>
  {% endif %}
  <hr/>
{% endblock content %}
