{% extends "base_actions.html" %}
{% load build_params %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}

<div class="page-header">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
</div>


{% if publish_objs %}
  <h3>The following records will be published:</h3>
  <ul>
    {% for obj in publish_objs %}
      <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{% if needs_preview %}
  <h3>The following records must be previewed before they can be published:</h3>
  <ul>
    {% for obj in needs_preview %}
      <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{% if reindex_objs %}
  <h3>The following records have already been published they will be reindexed in both the preview environment and public site:</h3>
  <ul>
    {% for obj in reindex_objs %}
      <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{% if neither_objs %}
  <h3>The following records have been deleted or retracted and cannot be publsihed:</h3>
  <ul>
    {% for obj in neither_objs %}
      <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

<p>You will receive an email when indexing is complete.
{% if context.publish_url %}
  At that time you will be able to view the records in the <a href="{{ context.publish_url }}">public site</a>.
{% endif %}
</p>

<p><a href="{% url 'publish' %}">Back to Publish</a></p>

{% endblock content %}
