<h4 id="sidebar_right_heading">Tips</h4>

<p>If you add or delete any tags, you will need to use the "Index Modified Records" button available on the Overview page to make these changes appear in the preview or public sites.</p>