{% extends "base_actions.html" %}
{% load build_params %}
{% load widget_tweaks %}
{% block content %}

<div class="page-header">
    <h1>Search &amp; Browse</h1>
</div>

<h2>Search</h2>
{% include 'includes/_search.html' %}

<h2>Browse</h2>

<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#by_metadata" role="tab" data-toggle="tab">By Original Metadata</a>
        </li>
        <li role="presentation"><a href="#by_tag" role="tab" data-toggle="tab">By Tag Group</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div class="panel-heading">
            {% include 'includes/_filter.html' %}
        </div>

        <div role="tabpanel" class="tab-pane active" id="by_metadata">
            <table class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th class="col_100">Field Label</th>
                        <th class="text-center col_auto">No. of Records</th>
                    </tr>
                </thead>
                <tbody>
                {% for field in fields %}
                <tr>
                    <td>
                        <a href="{{ field.get_absolute_url }}" id="id_label_{{ field.pk }}">{{ field.field_label }}</a>
                    </td>
                    <td class="text-center">
                        <a href="{{ field.get_records_url }}{{ request.GET|build_params:'' }}" class="checkbox_label_link" id="id_record_link_{{ field.pk }}"><span class="label label-info checkbox_label">{{ field.count }} record{% if field.count != 1%}s{% endif %}</span></a>
                    </td>
                </tr>
                {% empty %}
                    <td colspan="3" class="de_emphasize">No items found</td>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="by_tag">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col_100">Group Label</th>
                        <th class="text-center col_auto">No. of Records</th>
                    </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                <tr>
                    <td>
                        <a href="{{ group.get_absolute_url }}">{{ group.label }}</a>
                    </td>
                    <td class="text-center">
                        <a href="{{ group.get_records_url }}{{ request.GET|build_params:'' }}" class="checkbox_label_link"><span class="label label-info checkbox_label">{{ group.count }} record{% if group.count != 1%}s{% endif %}</span></a>
                    </td>
                </tr>
                {% empty %}
                    <td colspan="3" class="de_emphasize">No items found</td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>








{% endblock content %}
