{% extends "browse/browse.html" %}
{% load build_params %}
{% load widget_tweaks %}


{% block status_th %}
<th class="text-center col_auto">
    <span><a href="#">Status<span class="glyphicon glyphicon-sort" aria-hidden="true"></a></span>
</th>
{% endblock status_th %}


{% block status_td %}
<td>
    {{ choice.status }}
</td>
{% endblock status_td %}
