{% extends "browse/browse.html" %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <h1>Tag</h1>
</div>
<p>This area allows you to work with the content you have uploaded. Here you can:</p>
<ul>
    <li>Add or remove tags from controlled vocabularies.</li>
    <li>Review tags added manually or automatically by Metadata Hopper.</li>
    <li>Delete records.</li>
    <li>Navigate to an object’s record page.</li>
</ul>

{% endblock page_header %}
