{% extends "base_actions.html" %}
{% load build_params %}
{% load widget_tweaks %}
{% block content %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <h1>{% if title %}{{ title }}{% else %}Browse{% endif %}</h1>
</div>
<p>{{ subtitle }}</p>
{% endblock page_header %}

<hr />

{% block pull_down %}
<!-- PullDown -->
{% endblock pull_down %}


{% block filter_form %}
<!-- Results Filter Form -->
{% include 'includes/_filter_search.html' %}
{% endblock filter_form %}

<br />

{% block form_errors %}
<!-- Errors -->
<div>
    {% if form.non_field_errors or form.action.errors or form.items.errors %}
    <div id="request_errors" class="alert alert-info" role="alert">
        {{ form.non_field_errors }}
        {{ form.action.errors }}
        {{ form.items.errors }}
    </div>
    {% endif %}
</div>
{% endblock form_errors %}

{% block page_main %}

<!-- checkbox handling and item selection -->
<script src="{{ STATIC_URL }}js/browse_checkboxes.js"></script>
{% comment %}
    # the following input variables are initially set by the server.
    # these variables are loaded once by the browse_checkboxes script,
    # and are not updated here afterwards.  They reflect the initial settings
    # of this page from the request.
{% endcomment %}
<script>
    this.pager_items_all = {% if pager_items_all %}{{ pager_items_all | safe }}{% else %}[]{% endif %} // total number of items in the application; only a subset are available on this page.
    this.pager_selections = {% if pager_selections %}{{ pager_selections | safe }}{% else %}[]{% endif %} // items selected throughout the application
</script>

<!-- Main Content -->
<form action="{{ request.get_full_path }}" method="post" class="form" role="form">
    {% csrf_token %}

    <input
        name="pager_selections"
        value="{{ pager_selections | safe }}"
        id="pager_selections_field"
        type="hidden" />

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">

                {% block form_page_count %}
                <!-- Page count -->
                <div id="results_page_count" class="col-xs-6">
                    {% if form.page.paginator.count %}
                        {% if form.page.paginator.count == 1 %}
                            <p><span class="lead">1</span> {{ list_unit }} found</p>
                        {% else %}
                            <p>{{ list_unit|title }}{{ form.page.paginator.count|pluralize }} <span class="lead">{{ form.page.start_index }} to {{ form.page.end_index }}</span> of {{ form.page.paginator.count }} found</p>
                        {% endif %}
                    {% endif %}
                    </p>
                </div>
                {% endblock form_page_count %}

                {% block form_page_result_count %}
                <!-- Results per page -->


                <div id="results_per_page" class="col-xs-6">

                {% if form.pages.count > 20 %}
                    <span class="results_per_page_text" style="margin: 1rem; top: .4rem;">items per page</span>
                    <div class="pull-right btn-group" id="exampleInputName2"  >

                        <button
                            name="items_per_page"
                            type="submit"
                            value="20"
                            class="btn btn-default btn-sm pager_button {% if form.pages.per_page == 20 %} active{% endif %}" />
                            20
                        </button>
                        <button
                            name="items_per_page"
                            type="submit"
                            value="50"
                            class="btn btn-default btn-sm pager_button {% if form.pages.per_page == 50 %} active{% endif %}" />
                            50
                        </button>
                        <button
                            name="items_per_page"
                            type="submit"
                            value="100"
                            class="btn btn-default btn-sm pager_button {% if form.pages.per_page == 100 %} active{% endif %}" />
                            100
                        </button>
                    </div>


                    <!--<span class="results_per_page_text">items per page</span>
                    <ul class="pagination pagination-sm inline_button">
                        <li {% if form.pages.per_page == 20 %}class="active"{% endif %}><a href="{{ request.GET|build_params:'items_per_page' }}20">20</a></li>
                        <li {% if form.pages.per_page == 50 %}class="active"{% endif %}><a href="{{ request.GET|build_params:'items_per_page' }}50">50</a></li>
                        <li {% if form.pages.per_page == 100 %}class="active"{% endif %}><a href="{{ request.GET|build_params:'items_per_page' }}100">100</a></li>
                    </ul>-->
                    {% endif %}
                </div>

                {% endblock form_page_result_count %}

                <!-- Sorter --> <!-- I want to integrate this in with table column headers.-->
                <!--<div id="results_page_sort" class="col-xs-4">
                    <p class="text-right">sort by<br />
                    <a href="{{ request.GET|build_params:'sort' }}value">value</a> |
                        <a href="{{ request.GET|build_params:'sort' }}-count">count</a>
                    </p>
                </div>-->
            </div>

            {% block form_pager_1 %}
            <!-- Pager 1 -->
            {% if form.pages.num_pages > 1 %}
                {% include "includes/_pager.html" %}
            {% endif %}
            {% endblock form_pager_1 %}
        </div>

        {% block form_actions %}
        <!-- Action buttons -->
        <div class="panel-body ">

            <!-- Primary Actions -->
            <div class="row">
                <div id="request_actions" class="form-group form-inline col-xs-12 text-center">
                    <div class="btn-group" id="id_submit" >
                    {% for b in action_buttons %}
                        <button type='submit' name="action" id="id_action_button_{{ b.0 }}" value="{{ b.0 }}" class="btn btn-{% if b.2 %}{{ b.2 }}{% else %}default{% endif %} btn-lg" >{{ b.1 }}</button>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Secondary Actions -->
            {% if not single_select %}
            <div class="row">
                <div class="col-xs-6 ">

                    {% if form.pages.num_pages > 1 %}
                        <p><input type="checkbox" id="select_all_pages_checkbox" /> Select all on all pages</p>
                    {% endif %}
                </div>

                <div class="col-xs-6 form-inline text-right">
                    <p><span class="lead"><span id="pager_selections">NN</span> of <span id="pager_items_all">NN</span></span> {{ list_unit }}{{ form.page.paginator.count|pluralize }} selected<br />
                    {% if form.pages.num_pages > 1 %}
                        <span class="small">(<span id="qty_selected_items_this_page">NN</span> on this page, <span id="qty_selected_items_other_pages">NN</span> on other pages)</span></p>
                    {% endif %}

                    <!--<span class="btn-group radio_group" data-toggle="buttons">
                        <label for="" class="form-control btn btn-default btn-sm ">
                            <input type="radio" id="" value="" name="">Record Name
                        </label>

                        <label for="" class="form-control btn btn-default btn-sm ">
                            <input type="radio" id="" value="" name="">Count
                        </label>
                    </span>
                    <input type="submit" value="Sort" id="id_limit" class="btn btn-primary btn-sm">-->
                </div>
            </div>
            {% endif %}

        </div>

        {% endblock form_actions %}

        {% block results_table %}
        <!-- Results Table -->
        {% if form.page.paginator.count %}
        <table class="table table-striped table-bordered" id="record_result_table">
            <thead>
                <th class="text-center">
                    <div class="text-center">
                        {% if not single_select %}
                        <input type="checkbox" id="select_this_page_checkbox" />
                        {% endif %}
                    </div>
                </div>
                </th>
                <th class="text-left">
                    <span><a href="#">{{ list_unit|title }} Name <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a></span>
                </th>
                {% block status_th %}{% endblock %}
                <th class="text-center col_auto">
                    <span><a href="#">Object Records<span class="glyphicon glyphicon-sort" aria-hidden="true"></a></span>
                </th>
            </thead>
            <tbody>
                {% for pk, choice in form.items.field.widget.choices %}
                <tr>
                    {% if single_select %}
                        <td class="text-center">
                            <input type="radio" class="record_select_radio" id="id_{{ form.items.html_name }}_{{ forloop.counter0 }}" value="{{ pk }}" name="{{ form.items.html_name }}">
                        </td>
                    {% else %}
                        <td class="text-center">
                            <input type="checkbox" class="inline_checkbox" id="id_{{ form.items.html_name }}_{{ forloop.counter0 }}" value="{{ pk }}" name="{{ form.items.html_name }}">
                        </td>
                    {% endif %}


                    <!--{% comment %} Turning off popovers for the time being, for performance reasons. {% endcomment %}-->

                    <td>
                        <label for="id_{{ form.items.html_name }}_{{ forloop.counter0 }}" class="control-label checkbox_label">
                            {% if choice.name %}{{ choice.name }}{% else %}<span class="de_emphasize">blank</span>{% endif %}
                        </label>
			{% if choice.thumbnail %}
	 		  <div id="thumbnail_container">
			    <img src="{{ MEDIA_URL }}{{ choice.thumbnail }}" class="img-thumbnail">
			  </div>
			{% endif %}
                    </td>

                    <!--{% comment %}
                    <td>
                        <label for="id_{{ form.items.html_name }}_{{ forloop.counter0 }}" class="control-label checkbox_label">
                            <div class="hover_popover" data-toggle="popover" data-html="true" data-container="body" data-content="{% include 'includes/_popover.html' %}">{% if choice.name %}{{ choice.name }}{% else %}<span class="de_emphasize">blank</span>{% endif %}</div>
                        </label>
                    </td>
                    {% endcomment %}-->


                    {% block status_td %}{% endblock %}
                    {% block record_td %}
                    <td class="text-center">
                        <a class="checkbox_label_link" href="{{ choice.url }}" id="id_record_anchor_{{ forloop.counter0 }}"><span class="checkbox_label label label-info" >{{ choice.count }} record{{ choice.count|pluralize }}</span></a>
                    </td>
                    {% endblock %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="panel-body">
                <p class="de_emphasize">No items found</p>
            </div>
        {% endif %}
        {% endblock results_table %}


        {% if form.pages.num_pages > 1 %}
        <div class="panel-footer">
            {% block form_pager_2 %}
            <!-- Pager 2 -->
                {% include "includes/_pager.html" %}
            {% endblock form_pager_2 %}
        </div>
        {% endif %}
    </div>
</form>
{% endblock page_main %}
{% endblock content %}
