/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 83px;
}

/*
 * Extra typography
 */

.de_emphasize {
  color: #bbb;
  letter-spacing: .1rem;
}

.inline {
  display: inline;
  padding-left: .125em;
  color: red;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Global Table settings
 */
.table_col_noborder td,
.table_col_noborder th {
  border-right: none !important;
}

.table_col_noborder th + th,
.table_col_noborder td + td {
  border-left: none !important;
}

thead {

  border-bottom: 3px solid #ddd;
}

.table_header_container {
  position: relative;
}

.table_header_button_right {
  position: absolute;
  height: 3rem;
  top: -.5rem;
  right: -.5rem;
}

.col_100 {
  width: 100%;
}

.col_auto {
  width: auto !important;
  white-space: nowrap;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a {
  color: #fff;
}


.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav li a:hover {
  background-color: #428bca;
}

#navbar_nav_list {
    border-top: 1px solid #333;
}

#navbar_over {
  padding-right: 0;
}

#navbar_under {
  background-color: #333;
  color: #aaa;
}

#navbar_under h6 {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
/*@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}*/
.page-header {
  border-bottom: none;
}

.pagination {
  margin-top: 0;
  margin-bottom: 0;
}

#nav_pager_left {
  float: left;
}
#nav_pager_main {}
#nav_pager_right {
  float: right;
}

#results_per_page {
  text-align: right;
}

.inline_button {
  vertical-align: middle;
}

.results_per_page_text {
  position: relative;
}


#title_change_field:invalid {
  border: 2px solid red;
}

.digobject_tag_list {
  padding-left: 0;
}

.digobject_tag {
  display: inline-block;
  line-height: 2em;
  background-color: #ddd;
  border: 1px solid #bbb;
  margin-top: .5rem;
  padding: 0 1rem;
  border-radius: .5rem;
}

.digobject_tag a {

}

.digobject_tag_remove {
  color: #aaa;
  padding-left: 1rem;
}
.digobject_tag_remove:hover { color: red; }
.digobject_tag_remove:active { color: maroon; }

.checkbox_label {
  font-size: small;
  font-weight: normal;
}

.checkbox_label.label-info:hover {
  background-color: #31b0d5;
  border-color: #269abc;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.checkbox_label.label-default {
  background-color: #ccc;
}

.checkbox_label_link,
.checkbox_label_link:hover,
.checkbox_label_link:active,
.checkbox_label_link:focus,
.checkbox_label_link:visited {
  text-decoration: none;
}

.btn_inactive,
.btn_inactive:hover,
.btn_inactive:active,
.btn_inactive:focus,
.btn_inactive:visited {
  border: 1px solid #bbb;
  background-color: #ddd;
  text-decoration: none;
}

.btn_inactive:hover,
.btn_inactive:active {
  border: 1px solid #aaa;
  background-color: #bbb;
  text-decoration: none;
}

/*
 * Sidebars
 */

.sidebar {
    position: fixed;
    top: 78px;
    bottom: 0;
    /*left: 0;*/
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    /**/
}

.sidebar_nav_list > li > a{
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.sidebar_nav_list > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.sidebar_nav_list li a:hover,
.sidebar_nav_list li a:focus {
  background-color: #ddd;
}

.sidebar_nav_list > .active > a,
.sidebar_nav_list > .active > a:hover,
.sidebar_nav_list > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.sidebar_nav_list li a {
  font-size: 1.25em;
}

.sidebar .panel {
    margin: 20px;
}

#sidebar_context {
  padding: 1rem;
}

#sidebar_context ul {
  padding-left: 2.25rem;
}

/*
 * Nav Sidebar (Left)
 */

#sidebar_nav {
    border-right: 1px solid #eee;
}

/*
 * Context Sidebar (Right)
 */

#sidebar_context {
    border-left: 1px solid #eee;
}

/*
 * Footer
 */

#footer {
  margin-top: 12rem;
  padding-top: 12rem;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Typography
 */

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 17px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

dt, dd {padding-bottom: .5em;}


/*
 * Tabs
 */

.nav-tabs li a {
    background-color: #eee;
    border-bottom-color: #ddd;
}

.nav-tabs li a:hover {
    background-color: #ddd;
}

.tab-content  {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.tab-pane {
  padding: 1rem;
}

#tag_checkboxes {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

#tag_checkboxes .checkbox:first-of-type {
  margin-top: 0;
}

.filter_tag_remove:hover { color: red; }
.filter_tag_remove:active { color: maroon; }

/*
 * Testing
 */

.css_test_row {
  background-color: yellow;
  border: 1px solid blue;
}

.css_test_col {
  background-color: #bbb;
  border: 1px solid green;
}

/*
 * SECTIONS
 */

#id_start_date {
  margin-right: 1em;
}

.editable_title  {
  width: 350px;
}

/*
 * Overview
 */

#overview_table_foot th {
  border-top-width: 2px;
}

#overview_table .label {
  font-size: medium;
  font-weight: normal;
}

#overview_table .label-primary:hover {
  background-color: #2a6496;
  text-decoration: none;
}

#overview_table .label-default {
  background-color: #ccc;
}

#overview_table > tbody > tr > td:last-child,
#id_foot_col5 {
  border-left: 2px solid rgb(221, 221, 221);
}

/*
 * Deposit
 */


  /* keep Firefox file upload form button from getting cut off */
@-moz-document url-prefix() {
  input[type="file"] {
    padding-bottom: 4rem;
  }
}

.required_field {
  color: #FF8C00;
}

/*
 * Search/Browse
 */

.form-inline .form-control,
.form-inline .btn,
.form-inline .checkbox-inline {
  margin-top: .5rem;
}

.form-inline .checkbox-inline {
  margin-right: 1em;
}

.radio_group .btn-default { /* unchecked radio */
  padding: 7px 12px;
  background: -webkit-linear-gradient(white, #eee); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #eee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #eee); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #eee); /* Standard syntax */
}

.radio_group .btn-default.active { /* checked radio */
  background: -webkit-linear-gradient(#ddd, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ddd, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ddd, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ddd, #fff); /* Standard syntax */
}

.record_field_list ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.record_field_list li {
  margin-bottom: .75em;
}

#thumbnail_container {
  width: 200px;
  margin-bottom: 1em;
  margin-left: 1em;
}

#thumbnail_container img {
  max-width: 100%;
  max-height: 100%;
}

#thumbnail_container img:hover {
  border-color: rgb(66, 139, 202);
}


form#wizard-form select {
  width: inherit;
}

.select_sm  {
  font-weight: normal;
}

form#wizard-form input,
form#wizard-form textarea {
  max-width: 50rem;
}

#tag_pulldown_wrapper {}
#tag_pulldown_wrapper a {
  cursor: pointer;
}
#tag_pulldown {
  overflow: hidden;
  }
.tag_fade {
  background-image: url('http://localhost:8000/static/img/pulldown_fade.png');
  background-repeat: repeat-x;
  width: 100%;
  height: 25px;
  padding: 0;
  position: relative;
  margin-top: -25px;
  z-index: 100;
}
#tag_pulldown_handle {}

#tag_pulldown li {}

#add_tag_list dt {
  font-size: larger;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#add_tag_list dd {
  margin-left: 4rem;
  display: list-item;
  list-style-type: disc;
}

#title_change_label {
}

#change_title_field {
}

#title_change_buttons{
  text-align: right;
}

div {
    text-overflow: ellipsis;
}

.inline_remove_button {
  vertical-align: baseline;
  margin-right: .5em;
}

/*
 * Connect
 */


/*
 * Admin
 */



.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #090;
}

.admin #sidebar_nav li.active>a:hover,
.admin #sidebar_context li.active>a:hover {
  background-color: #090;
  color: white;
}

.admin .nav-pills>li.active>a,
.admin .nav-pills>li.active>a:hover,
.admin .nav-pills>li.active>a:focus {
  background-color: #090;
  color: white;
}

.admin a {
  color: #090;
}

.admin #navbar_over {
  background-color: #030;
}

.admin #navbar_under {
  background-color: #040;
}

.admin #navbar_over a:hover ,
.admin #navbar_under a:hover {
  background-color: #090;
  color: white;
}
