{% load widget_tweaks %}

{% comment %}
    Used to filter a set of records.
{% endcomment %}

<div class="row">
    <form id="id_filter_buttons"  action="{{ request.get_full_path }}" method="get" class="form-inline col-xs-12" role="form">
        {% csrf_token %}
        <div class="form-group">
            {% render_field filter_form.status class+='btn-sm' %}
            {% render_field filter_form.type class+='btn-sm' %}
            <input type="submit" value="Filter" id="id_limit" class="btn btn-primary">
        </div>
    </form>
</div>
