{% load widget_tweaks %}

{% comment %}
    Used to filter a set of records, with a text box for arbitrary filtering.
{% endcomment %}

<div class="row">
    <form id="id_filter_buttons"  action="{{ request.get_full_path }}" method="get" class="form-inline col-xs-12" role="form">
        {% csrf_token %}
        <div class="form-group">
            {% render_field filter_form.status class+='btn-sm'  %}
            {% render_field filter_form.type class+='btn-sm' %}

            {% render_field importedvalue_form.field class+='btn-sm' %}
            {% include "includes/_radio.html" %}
            {% render_field importedvalue_form.q autofocus='true' placeholder="Enter filter terms" class+='btn-sm' %}
            <input type="submit" value="Filter" id="id_limit" class="btn btn-primary">
        </div>
    </form>
</div>
