{% load build_params %}

<div class="row">
    <div class="col-xs-12">

        <fieldset class="pull-left btn-group nav_pager_left"  >
            <button
                name="page_change"
                {% if form.page.has_previous %}value="{{ form.page.previous_page_number }}"{% endif %}
                type="submit"
                class="btn btn-default page_chevron_prev"
                {% if not form.page.has_previous %}disabled{% endif %} />
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
        </fieldset>

        <fieldset class="pull-right btn-group nav_pager_right">
            <button
                name="page_change"
                {% if form.page.has_next %}value="{{ form.page.next_page_number }}"{% endif %}
                type="submit"
                class="btn btn-default page_chevron_next"
                {% if not form.page.has_next %}disabled{% endif %} />
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </fieldset>

        <div class="pager pager_no_vertical_margin" style="margin-top: 0; margin-bottom: 0">
            <fieldset class="btn-group nav_pager_main">

                {% if form.page.has_previous %}
                    {% if form.page.number > 2 %}
                        <button
                            name="page_change"
                            type="submit"
                            value="1"
                            class="btn btn-default page_first" />
                            1
                        </button>
                    {% endif %}
                    {% if form.page.number == 4 %}
                        <button
                            name="page_change"
                            type="submit"
                            value="2"
                            class="btn btn-default page_second" />
                            2
                        </button>
                    {% endif %}
                    {% if form.page.number > 4 %}
                        <!-- Before Ellipsis -->
                        <button
                            name="page_change"
                            type="submit"
                            class="btn btn-link page_ellipsis"
                            disabled/>
                            ...
                        </button>
                    {% endif %}

                    <button
                        name="page_change"
                        type="submit"
                        value="{{ form.page.number|add:'-1' }}"
                        class="btn btn-default page_prev" />
                        {{ form.page.number|add:'-1' }}
                    </button>

                {% endif %}

                <button
                    name="page_change"
                    type="submit"
                    value="{{ form.page.number }}"
                    class="btn btn-default active page_current" />
                    {{ form.page.number }}
                </button>

                {% if form.page.has_next %}

                    <button
                        name="page_change"
                        type="submit"
                        value="{{ form.page.number|add:'1' }}"
                        class="btn btn-default page_next" />
                        {{ form.page.number|add:'1' }}
                    </button>

                    {% if form.page.number == form.pages.page_range|last|add:'-3' %}
                        <button
                            name="page_change"
                            type="submit"
                            value="{{form.pages.page_range|last|add:'-1'}}"
                            class="btn btn-default page_second_to_last" />
                            {{form.pages.page_range|last|add:'-1'}}
                        </button>
                    {% endif %}
                    {% if form.page.number < form.pages.page_range|last|add:'-3' %}
                        <button
                            name="page_change"
                            type="submit"
                            class="btn btn-link page_ellipsis"
                            disabled
                            />
                            ...
                        </button>
                    {% endif %}
                    {% if form.page.number < form.pages.page_range|last|add:'-1' %}
                        <!-- Before Ellipsis -->
                        <button
                            name="page_change"
                            type="submit"
                            value="{{ form.pages.page_range|last }}"
                            class="btn btn-default page_last"/>
                            {{ form.pages.page_range|last }}
                        </button>
                    {% endif %}
                {% endif %}

            </fieldset>
        </div>
    </div>
</div>
