{% with p=importedvalue_form.predicate %}

<span class="btn-group radio_group" data-toggle="buttons">
  {% for widget_value, choice in p.field.widget.choices %}
    <label for="id_{{ p.html_name }}_{{ forloop.counter0 }}" class="form-control btn btn-default btn-sm {% if sm %} btn-sm{% endif %}{% if widget_value == p.value %} active{% endif %}">
    <input type="radio"
         id="id_{{ p.html_name }}_{{ forloop.counter0 }}"
         value="{{ widget_value }}" name="{{ p.html_name }}" {% if widget_value == p.value %} checked{% endif %}>{{ choice }}
    </label>
  {% endfor %}
</span>

{% endwith %}
