{% load widget_tweaks %}

{% comment %}
    Used when searching for records from outside the browse view hierarchy.
{% endcomment %}

<div class="row">
    <form id="id_search_buttons" action="{% url 'browse_records' %}" method="get" class="form-inline col-xs-12" role="form">
        {% csrf_token %}
        <div class="form-group">
            {% render_field importedvalue_form.field class+='btn-sm' %}
            {% include "includes/_radio.html" %}
            {% render_field importedvalue_form.q autofocus='true' placeholder="Enter search terms" %}
            <input type="submit" value="Search" id="id_search" class="btn btn-primary">
        </div>
    </form>
</div>
