<table class="table table-striped">
{% for pk, choice in field.field.widget.choices %}
    <tr>

        <td><input type="checkbox" id="id_{{ field.html_name }}_{{ forloop.counter0 }}" value="{{ pk }}" name="{{ field.html_name }}"></td>
        <td><label for="id_{{ field.html_name }}_{{ forloop.counter0 }}" class="control-label">

            {% if type == 'records' %}
            <div class="hover_popover" data-toggle="popover" data-html="true" data-container="body" data-content="{% include 'includes/_popover.html' %}">
            {% endif %}

            {% if type == 'add_tags' %}
                {{ choice.title }}
            {% else %}
                {{ choice.name }}
            {% endif %}

            {% if type == 'records' %}
            </div>
            {% endif %}

        </label></td>
        <td>
            {% if type == 'records' %}
                <a class="checkbox_label_link" href="{{ choice.url }}"><span class="checkbox_label label label-info">object record</span></a>
            {% elif type == 'tags' %}
                <a class="checkbox_label_link" href="{{ choice.url }}"><span class="checkbox_label label label-info">{{ choice.count }} record{% if choice.count != 1 %}s{% endif %}</span></a>
            {% elif type == 'values' %}
                <a class="checkbox_label_link" href="{{ choice.url }}"><span class="checkbox_label label label-info">{{ choice.count }} record{% if choice.count != 1 %}s{% endif %}</span></a>
            {% endif %}
        </td>

    </tr>
{% endfor %}
</table>
