{% load widget_tweaks %}

{% if field.is_hidden %}
  {{ field }}
{% else %}
<div class="form-group">
    {% if field.errors %}
        <div class="alert alert-info" role="alert">
            {{ field.errors }}
        </div>
    {% endif %}
    <div class="form-group">
        <label for="id_{{ field.html_name }}">{{ field.label }}:</label>
        {% render_field field %}
    </div>
    {% if field.help_text %}
        <p class="help-block helptext">{{ field.help_text }}</p>
    {% endif %}
</div>
{% endif %}
