{% include "includes/items_per_page.html" %}
{% load build_params %}
{% load humanize %}

<p class="lead">{{ form.pages.count|apnumber|title }} result{% if form.pages.count != 1 %}s{% endif %}</p>

<p class="pull-right">sort by: <a href="{{ request.GET|build_params:'sort' }}value">value</a> | <a href="{{ request.GET|build_params:'sort' }}-count">count</a></p>

<form action="{{ request.get_full_path }}" method="post" class="form" role="form">
    {% csrf_token %}

    <!-- Action buttons at the top of a list of results -->
    {% include 'includes/buttons_list_actions.html' %}

    {% if form.non_field_errors or form.action.errors or form.imported_values.errors%}
        <div class="alert alert-info" role="alert">
            {{ form.non_field_errors }}
            {{ form.action.errors }}
            {{ form.imported_values.errors }}
        </div>
    {% endif %}

    <div class="form-group" id="request_results_form">
        {% if form.objs.errors %}
            <div class="alert alert-info" role="alert">
                {{ form.objs.errors }}
            </div>
        {% endif %}

        {% if form.objs %}
            <!-- Search Results -->
            {% include "includes/checkbox_table.html" with field=form.objs %}
        {% elif form.imported_values %}
            <!-- Browse Values -->
            {% include "includes/checkbox_table.html" with field=form.imported_values %}
        {% endif %}

    </div>
    {% include "includes/items_per_page.html" %}
    {% include "includes/pages.html" %}
</form>
