{% if field.is_hidden %}
    {{ field }}
{% else %}
<div class="panel panel-info">
    <div class="panel-heading">{% if field.required %}* {% endif %}{{ field.label }}</div>
    <div class="panel-body">
        <div>
            <span class="helptext">{{ field.help_text }}</span>
        </div>

        {% if field.errors %}
        <div class="alert alert-info" role="alert">
            {{ field.errors }}
        </div>
        {% endif %}

        <div class="form-group"><label for="id_{{ field.html_name }}">{{ label }}</label>{{ field }}</div>
    </div>
</div>
{% endif %}
