{% load widget_tweaks %}

<form id="id_filter_buttons"  action="{{ request.get_full_path }}" method="get" class="form-inline" role="form">
    {% csrf_token %}
    <div class="form-group form-inline">
        {% render_field filter_form.status class+='btn-sm' %}
        {% render_field filter_form.type class+='btn-sm' %}

        {% render_field importedvalue_form.field class+='btn-sm' %}
        {% include "includes/radio.html" with field=importedvalue_form.predicate sm=True %}
        {% render_field importedvalue_form.q class+='btn-sm' autofocus='true' placeholder="Enter search terms" %}

    </div>
    <button type="submit" id="id_limit" class="btn btn-primary btn-sm" />Limit</button>
</form>
