{% load widget_tweaks %}

<form id="id_filter_buttons"  action="{{ request.get_full_path }}" method="get" class="form-inline" role="form">
    {% csrf_token %}
    <div class="form-group form-inline">
        {% render_field filter_form.status class+='btn-sm' %}
        {% render_field filter_form.type class+='btn-sm' %}
        {% render_field tag_form.assigned class+='btn-sm' %}
    </div>
    <button type="submit" id="id_limit" class="btn btn-primary btn-sm" />Limit</button>
</form>

