{% extends "base_nav.html" %}

{% block sidebar_nav %}
    <ul class="nav nav-pills nav-stacked sidebar_nav_list">
        {% with p=request.path %}
            <li><a href="#">Institution Info</a></li>
            <li {% if 'admin/account/' in p %}class="active" {% endif %}><a href="{% url 'password_change' %}">My Account</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Reports</a></li>
            <li {% if 'admin/logs/' in p %}class="active" {% endif %}><a href="{% url 'error_logs' %}">Error Logs</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Admin Help</a></li>
        {% endwith %}
    </ul>
{% endblock sidebar_nav %}
