<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Metadata Hopper | {% block title %}Metadata Hopper{% endblock title %}</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap3-editable/css/bootstrap-editable.css" />
        <link href="{{ STATIC_URL }}css/dashboard.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>

        {% block head %}
        {% endblock %}
    </head>

    <body class="{{url_base}}">
        {% block body %}
        {% endblock body %}

        {% block scripts %}
            <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
            <script src="{{ STATIC_URL }}jquery-ui/jquery-ui.min.js"></script>
            <script src="{{ STATIC_URL }}js/dashboard.js"></script>
            <script src="{{ STATIC_URL }}bootstrap3-editable/js/bootstrap-editable.min.js"></script>
        {% endblock scripts %}
    </body>
</html>
