{% extends "base.html" %}

{% block body %}
    {% block navbar_section %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div id="navbar_over" class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/overview/">Metadata Hopper</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'overview' %}">Home</a></li>
		    {% if context.preview_url %}
		      <li><a href="{{ context.preview_url }}">Preview site</a></li>
		    {% endif %}
		    {% if context.publish_url %}
		      <li><a href="{{ context.publish_url }}">Public site</a></li>
		    {% endif %}
                    <li {% if url_base == 'admin' %}class="active"{% endif %}>
		      <a href="{% url 'error_logs' %}">Administration</a>
		    </li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
                <div class="visible-xs-block">
                    <ul class="nav navbar-nav" id="navbar_nav_list">
                        <!-- filled for xs at runtime via JS-->
                    </ul>
                </div>
            </div>
        </div>

        <div id='navbar_under' class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h6>{{ context }}</h6>
                </div>
                <div class="col-sm-6">
                    <h6 class="pull-right">{% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %} - {{ institution }}</h6>
                </div>
            </div>
        </div>
    </div>

    {% endblock navbar_section %}

    {% block main_section %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 sidebar hidden-xs" id="sidebar_nav">
                {% block sidebar_nav %}
                {% endblock sidebar_nav %}
            </div>
            <div class="col-sm-8 col-sm-offset-2" id="content_main">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-sm-2 col-sm-offset-10 sidebar hidden-xs" id="sidebar_context">
                {% block sidebar_context %}
                {% endblock sidebar_context %}
            </div>
        </div>
    </div>
    {% endblock main_section %}

    {% block footer_section %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-3 col-md-8 col-md-offset-2" id="footer">
                <br />
            </div>
        </div>
    </div>
    {% endblock footer_section %}

{% endblock body %}
