{% extends "base.html" %}
{% block body %}
<div class="container-fluid main">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% include "includes/form.html" with form=form %}
        <input type="submit" id="login" value="login" class="btn btn-default" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <a href="{% url 'django.contrib.auth.views.password_reset' %}">Reset password</a>
</div>
{% endblock %}
