{% extends "browse/browse.html" %}
{% load build_params %}
{% load widget_tweaks %}
{% load humanize %}

{% block pull_down %}
    {% if objs_flat|length == 1 %}
        <h3><span class="small">Parent:</span> <a href="{{objs_flat.0.get_absolute_url}}">{{objs_flat.0}}</a></h3>
    {% else %}
        {% include 'includes/_pulldown.html' %}
    {% endif %}
{% endblock pull_down %}
