{% extends "base_actions.html" %}
{% load build_params %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}

<div class="page-header">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
</div>

{% if indexed_count > 0 %}
  {% if indexed_count == 1 %}
    <p>1 record was already previewed or published and will be reindexed.</p>
  {% else %}
    <p>{{ indexed_count }} records were already previewed or published and will be reindexed.</p>
  {% endif %}
  <p>You will receive an email when indexing is complete.</p>
  {% if context.preview_url %}
    <p><a href="{{ context.preview_url }}">Go to preview site</a></p>
  {% endif %}
  <hr/>
{% endif %}

{% if new_connections %}
{% regroup new_connections by parent as parent_list %}
<h3>New Connections</h3>
<ul>
{% for parent in parent_list %}
    <li>The parent record <strong><a href="{{ parent.grouper.get_absolute_url }}">{{ parent.grouper }}</a></strong> is now connected to the following child records:
    <ul>
        {% for item in parent.list %}
          <li><strong><a href="{{ item.child.get_absolute_url }}">{{ item.child }}</a></strong></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
{% endif %}


{% if existing_connections %}
{% regroup existing_connections by parent as parent_list %}
<h3>Existing Connections</h3>
<ul>
{% for parent in parent_list %}
    <li>The parent record <strong><a href="{{ parent.grouper.get_absolute_url }}">{{ parent.grouper }}</a></strong> was already connected to:
    <ul>
        {% for item in parent.list %}
          <li><strong><a href="{{ item.child.get_absolute_url }}">{{ item.child }}</a></strong></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
<p class="de_emphasize">No further changes have been made.</p>
{% endif %}


{% if prohibited_connections %}
<h3>Unable to make Connections</h3>
<ul>
{% for ph in prohibited_connections %}
    <li>The record <strong><a href="{{ ph.parent.get_absolute_url}}">{{ ph.parent }}</a></strong> cannot be connected to the record <strong><a href="{{ ph.parent.get_absolute_url}}">{{ ph.parent }}</a></strong>: {{ ph.reason }}.</li>
{% endfor %}
</ul>
<p class="de_emphasize">No further changes have been made.</p>
{% endif %}

<!--
what I want to regroup:     existing_connections
attribute to group by:      parent
name of the resulting list: parent_list
-->



<hr />

<p><a href="{% url 'connect' %}">Add More Connections</a></p>

{% endblock content %}



