{% extends "browse/browse.html" %}
{% load template_helpers %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <h1>Add Tags</h1>
</div>
{% endblock page_header %}

{% block pull_down %}
{% if object %}
    <h2>{{ object }}</h2>
{% else %}
    {% include 'includes/_pulldown.html' %}
{% endif %}
{% endblock pull_down %}


{% block filter_form %}
    <!-- pass -->
{% endblock filter_form %}


{% block page_main %}
<!-- Main Content -->
<form action="." method="post">
    {% csrf_token %}
    {{ values_form }}
    {{ form.management_form }}

    {% for obj in objs %}
        <input type="hidden" value="{{ obj.pk }}">
    {% endfor %}


    {% block form_actions %}
    <!-- Action buttons -->
        {% include 'includes/add_tags_button_set.html' %}
    {% endblock form_actions %}


    <!-- Tabs -->
    <ul class="nav nav-tabs" role="tablist">
      {% for f in form %}
        <li{% if forloop.counter0 == 0 %} class="active" {% endif %} ><a href="#{{ f.group.pk }}" id="id_tag_tab_{{ forloop.counter }}" role="tab" data-toggle="tab">{{ f.group.label }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content row-sm-12">
        {% for f in form %}
        <div class="tab-pane {% if forloop.counter0 == 0 %}active{% endif %}" id="{{ f.group.pk }}">
            <div class="form-group form-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" id="id_checkbox_select_all_tab_{{ forloop.counter }}" class="checkbox_select_all_tab"> Select All Tags (on this tab)
                </label>
                <!--<label for="tag_filter_field">Filter tags</label>-->

                <div class="input-group">
                    <input type="search" id="id_filter_tag_field_{{ forloop.counter }}" class="form-control tag_filter_field" placeholder="Filter tags...">
                    <span class="input-group-btn">
                        <button id="id_filter_tag_button_{{ forloop.counter }}" class="btn btn-default filter_tag_remove" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </div>
            </div>


            <hr>
            <div id="tag_checkboxes">
                {% with name=f.values.html_name %}

                {% comment %}
                The following commented sections are to remove the count/link for each value.  Uncomment to turn back on.
                {% endcomment %}

                {% comment %}{% for pk, choice, obj_count in f.values.field.widget.choices %}
                {% endcomment %}
                {% for pk, choice in f.values.field.widget.choices %}

                <div class="checkbox">
                    <label for="id_{{ name }}_{{ forloop.counter0 }}" class="control-label">
                        <input type="checkbox" id="id_{{ name }}_{{ forloop.counter0 }}" value="{{ pk }}" name="{{ name }}">

                        {% comment %}
                        {% if obj_count > 0 %}
                            {{ choice.title }} <small><a href="{% url 'browse_records_by_facet_value' pk %}">({{ obj_count }} record{{ obj_count|pluralize }})</a></small>
                        {% else %}
                            {{ choice }}
                        {% endif %}
                        {% endcomment %}
                        {{ choice }}

                    </label>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        {% endfor %}

    </div>
    <br />

    <!-- Tab option buttons -->
    {% include 'includes/add_tags_button_set.html' %}
</form>
{% endblock page_main %}
