{% extends "base_actions.html" %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}
<div class="page-header">
    <h1>Browse by Tags: {{ group }}</h1>
</div>

{% include 'includes/search_tags.html' %}

<hr>

<div class="panel panel-default">

    {% if True == False %}
    <div class="panel-heading text-center">
    </div>
    {% endif %}

    <div class="panel-body">
        <form action="{{ request.get_full_path }}" method="post" class="form" role="form">
            {% csrf_token %}

            <!-- Action buttons -->
            <div id="request_actions" class="form-group form-inline">
                {% include 'includes/buttons_action_tag.html' with review=True cancel=True %}
            </div>

            <hr />

            <!-- Errors -->
            {% if form.facet_values.errors or form.action.errors %}
            <div id="request_errors" class="alert alert-info" role="alert">
                {{ form.facet_values.errors }}
                {{ form.action.errors }}
            </div>
            {% endif %}

            <!-- Checkboxes -->
            <div id="request_results_form" class="form-group">
                {% include "includes/checkbox_table.html" with field=form.values type='tags' %}
            </div>


            <!--<div class="form-group">
                {{ form.action }}
            </div>

            <input type='submit' value='Submit' id="id_submit" class="btn btn-default">-->
        </form>
    </div>

    {% if True == False %}
    <div class="panel-footer text-center">
    </div>
    {% endif %}

</div>
{% endblock %}

