{% extends "base_actions.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tags added</h1>
  </div>

  {% if previewed_objs > 0 %}
    {% if previewed_objs == 1 %}
      <p>1 record was already previewed and will be reindexed.</p>
    {% else %}
      <p>{{ preview_count }} records were already previewed and will be reindexed.</p>
    {% endif %}
    <p>You will receive an email when indexing is complete.</p>
    {% if context.preview_url %}
      <p><a href="{{ context.preview_url }}">Go to preview site</a></p>
    {% endif %}
    <hr/>
  {% endif %}

  {% regroup objs by tags as obj_list %}
  <ul>
    {% for t in tags %}
    <li><a href="{% url 'facet_values' t.facet_group.pk %}">{{ t.facet_group }}</a> <strong>{{ t.value }}</strong> added to:
      <ul>
        {% for obj in objs %}
        <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
