{% extends "deposit/create_profile_wizard.html" %}

{% block tips %}
  {% include "help/deposit_profile_add_1.html" %}
{% endblock %}

{% block additional_text %}
<p>You will be asked to identify which fields contain each record's title and other elements. You can also use one of the <a href="#">import mapping rules worksheets</a> to help you build your import rules or have a record open for review. You will also need one sample file that contains all the element paths or fields you've identified. This file will be used as a test to make sure what you've specified is correct and will be discarded after tested.</p>

<p>Click <strong>next</strong> to start building your import rules.</p>
{% endblock %}
