{% extends "base_actions.html" %}

{% block content %}
  <div class="page-header">
    <h1>Create Import Mapping Rules: {{ digobject_type }}</h1>
  </div>
  <h2>Confirmation - Rules Created</h2>
  <p>Your rules have been saved. Use <a href="{% url 'upload' profile.pk %}">{{ profile.name }}</a> to view your rule set and add new records.</p>

  <h3>Rule set saved:</h3>

  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ profile.name }}</dd>

    <dt>Description</dt>
    <dd>{{ profile.description }}</dd>

    {% if profile.split_node %}
      <dt>Record Separator</dt>
      <dd>{{ profile.split_node }}</dd>
    {% endif %}

    {% for f in profile.filesource_set.all %}
      <dt>Image filename</dt>
      <dd>{{ f.xpath }}</dd>

      <dt>Image suffix</dt>
      <dd>{{ f.suffix }}</dd>
    {% endfor %}
  </dl>

  {% if profile.is_remote %}
    <p><strong>Images files will not be provided in the upload.</strong></p>
  {% endif %}

  {% include "includes/profile_rules.html" with fields=fields %}

  <h3>Your Import Rules for {{ profile.digobject_form }}</h3>
  <ul>
    {% for p in profiles %}
      <li><a href="{% url 'upload' p.id %}">{{ p }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
