{% extends "deposit/create_profile_wizard.html" %}

{% block head %}
<script src="{{ STATIC_URL }}js/samplefile.js"></script>
{% endblock %}

{% block tips %}
  {% include "help/deposit_profile_add_4a.html" %}
{% endblock %}

{% block form_content %}
    {{ wizard.form.management_form }}
        <div class="panel-group" id="accordion">
        {% for form in wizard.form %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">{% if form.profile_field.dcxml_format.is_required %}<span class="glyphicon glyphicon-asterisk alert-warning required_field" aria-hidden="true"> </span> {% endif %}{{ form.profile_field.dcxml_format.field_label }} </a>
                    </h4>
                </div>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>{{ form.profile_field.help_text }}</p>
                        {{ form.management_form }}
                        {% if form.non_field_errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        {% for f in form %}
                            <div id="id_{{ f.prefix }}-form-fields">
                                {% for field in f.hidden_fields %}
                                    {{ field }}
                                {% endfor %}

                                {% if "default" in f.fields %}
                                    {% include "includes/default_widget.html" with form=f %}
                                {% elif "use_xpath" in f.fields %}
                                    {% include "includes/filename_widget.html" with form=f %}
                                {% else %}
                                    {% include "includes/form.html" with form=f %}
                                {% endif %}
                                <p>
                                    <div id="id_{{ f.prefix }}-alert" class="hidden" role="alert"></div>
                                </p>
                                <p>
                                    {% with s=split_node %}
                                        <input id="id_{{ f.prefix }}-test" name="{{ f.prefix }}-test" value="Test" class="btn btn-default" onclick="validate_field(this.name, '{{ file }}', {% if s %}'{{ s }}'{% else %}false{% endif %})"/>
                                    {% endwith %}
                                </p>
                            </div>
                        {% endfor %}
                        {% if form.profile_field.can_add_widget %}
                            <input id="id_{{ form.prefix }}-add-another"
                            name="{{ form.prefix }}-add-another"
                            value="Add another" class="btn btn-default"
                            onclick="add_another(this)"/>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
