{% extends "deposit/create_profile_wizard.html" %}

{% block additional_text %}
<p>Please submit a sample metadata file. When you specify your fields in the next screen, you will have a chance to test each path against what is in the sample file you submitted.</p>
<p>This sample file should have values for all element paths you will specify in your rules. If you don't have a file that has values for all element paths, feel free to create a file that has values for all element paths.</p>
<p>The sample file you use will not be added to your portal content, and can contain dummy data.</p>
{% endblock %}
