{% extends 'deposit/jfu_form.html' %}

{% block CSS_BOOTSTRAP %}
{% endblock %}

{% block form_fields %}
    <input type="hidden" name="upload_dir" value="{{ upload_dir }}">
{% endblock %}

{% block JS_INIT %}
  var formData = $('#fileupload').serializeArray();
  formData.push({name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"});
  $('#fileupload').fileupload({formData: formData,
                               disableImageLoad: true,
                               disableImageHead: true,
                               disableExif: true,
                               disableExifThumbnail: true,
                               disableExifSub: true,
                               disableExifGps: true,
                               disableImageMetaDataLoad: true,
                               disableImageMetaDataSave: true,
                               disableImageResize: true,
                               disableImagePreview: true,
                               previewCanvas: false,
                               previewThumbnail: false,
                               previewOrientation: false,
                               sequentialUploads: true,
                               acceptFileTypes: /(\.|\/)({{ accepted_mime_types|join:"|" }})$/i,
                               completed: function(e, data) {
                                       //hide completed upload element in queue
                                       $(data.context['0']).fadeOut(700);
                                       $(".fileupload-loading").removeClass("hidden");
                                       var c = $(".upload-count");
                                       c.text(parseInt(c.text()) + 1);

                               }});
  $('#id_button_cancel').click(function(){
    $.ajax({
      type: "POST",
      url: "{% url 'jfu_delete' %}",
      data: {'upload_dir': "{{ upload_dir }}"},
      success: function(data) {console.log(data)},
      dataType: 'json'
    });
  });
{% endblock %}

{% block UPLOAD_FORM_BUTTON_BAR_CONTROL %}
  <button type="submit" class="btn btn-default start">
    <i class="glyphicon glyphicon-upload"></i>
    <span>Upload All Files</span>
  </button>
{% endblock %}

{% block JS_UPLOAD_TEMPLATE_PREVIEW %}
{% endblock %}

{% block JS_DOWNLOAD_TEMPLATE_PREVIEW %}
{% endblock %}

{% block JS_BOOTSTRAP %}
{% endblock %}

