{% extends "base_actions.html" %}

{% block content %}
  <h2>{{ profile.name }}</h2>

  <h3>Profile Description</h3>
  <p>{{ profile.description }}</p>

  <h3>Rules</h3>
  {% include "includes/profile_rules.html" with fields=rules %}
{% endblock %}
